:root {
  --primary-color: #00a8a8;
  --secondary-color: #161e21;
  --text-color: white;
  --font-genos: "Genos", sans-serif;
  --font-anybody: "Anybody", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.hero {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
}

.hero h2 {
  color: var(--text-color);
  font-size: 80px;
  font-family: var(--font-genos);
}

.hero p {
  color: var(--text-color);
  font-size: 25px;
  font-family: var(--font-anybody);
}

.hero button {
  width: 200px;
  height: 56px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 10rem;
}

.image-hero {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  padding: 0 10rem;
}

/* step by step  */

.steps {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.steps h2 {
  font-family: var(--font-genos);
  font-size: 60px;
}

.subtitle {
  font-family: var(--font-genos);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.steps-cards {
  display: flex;
}

/* how works  */

.how-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 10rem;
  margin-top: 10em;
}

.cards-how-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.image-charging {
  border-radius: 20px;
}

/* big number  */

.big-numbers-container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
}

.big-numbers-cards {
  display: flex;
}

.big-numbers-content h2 {
  font-size: 60px;
  font-family: var(--font-genos);
  color: var(--text-color);
}

.big-numbers-content p {
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-genos);
  font-size: 20px;
}

/* card cars  */

.card-cars-section {
  padding: 5rem 6rem;
}

.location {
  font-family: var(--font-anybody);
  font-size: 45px;
  text-align: center;
}

.card-cars-container {
  display: flex;
  justify-content: space-around;
}

.button-cars-container {
  display: flex;
  justify-content: center;
}

.button-cars-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 10rem;
  font-size: 18px;
  height: 2.5rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  font-family: var(--font-anybody);
}

/* app container  */

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5rem 10rem;
}

.app-container h2 {
  font-size: 50px;
  font-family: var(--font-anybody);
}

.app-container p {
  font-size: 25px;
  margin-top: 3rem;
  font-family: var(--font-roboto);
}

.app-images {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
}