.card-step {
  width: 17rem;
  margin-top: 5rem;
  padding-right: 2rem;
}

.card-step p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.card-step h3 {
  font-size: 25px;
  font-family: "Anybody", sans-serif;
  margin-bottom: 1rem;
}

.card-step img {
  margin-bottom: 1rem;
}

/* Card charging  */

.card-charging {
  width: 20rem;
}

.card-charging p {
  font-size: 20px;
  font-family: "Anybody", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 30px;
}

/* card big numbers  */

.card-big-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  padding: 2rem;
  border-radius: 10px;
  margin: 5rem;
  -webkit-box-shadow: 7px 6px 18px -3px rgba(0, 168, 168, 1);
  -moz-box-shadow: 7px 6px 18px -3px rgba(0, 168, 168, 1);
  box-shadow: 7px 6px 18px -3px rgba(0, 168, 168, 1);
}

.card-big-numbers h2 {
  font-size: 35px;
  font-family: "Genos", sans-serif;
  font-weight: bold;
}

.card-big-numbers p {
  font-size: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(97, 96, 96);
  font-size: 20px;
}
.big-numbers-card {
  display: flex;
  gap: 2rem;
}

/* card cars  */
.card-cars {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  height: 23rem;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.126);
  margin: 5rem;
  -webkit-box-shadow: 7px 6px 18px -3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 7px 6px 18px -3px rgb(0, 0, 0);
  box-shadow: 7px 6px 18px -3px rgb(0, 0, 0);
}

.card-cars h2 {
  font-family: "Anybody", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.card-cars p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.card-cars button {
  background-color: transparent;
  border: none;
  color: #00a8a8;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-family: "Anybody", sans-serif;
}

/* assessment  */

.card-assessment {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 23rem;
  height: 22rem;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(100, 96, 96, 0.735);
  border-radius: 15px;
}
.card-assessment p {
  font-size: 20px;
  font-weight: 400;
}

.card-assessment h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.card-assessment h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* contactus  */
.contact-us-container {
  background-image: url(../../assets/images/porsche.png);
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.contact-us-container h3 {
  color: white;
  font-family: "Genos", sans-serif;

}

.span-contact {
  color: #00a8a8;
}

.contact-content {
  font-size: 30px;
    margin-left: 5rem;
}

.contact-content button {
  width: 17rem;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #00A8A8;
  color: white;
  font-family: "Genos", sans-serif;
}



