:root {
  --footer-bg-color: #161E21;
  --footer-text-color: white;
  --font-anybody: "Anybody", sans-serif;
}

.footer-container {
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}

.navigation-footer {
  display: flex;
  gap: 2rem;
}

.navigation-footer a {
  color: var(--footer-text-color);
  font-family: var(--font-anybody);
}

.social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.footer-content {
  display: flex;
}